@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
    background-color: #1F1D2B;
    color: #FFFFFF;
    font-family: Roboto;
    
}
body {
    background: linear-gradient(120deg, #1F1D2B 50%, #393C49);
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

/* Header */
a {
    text-decoration: none;
}

#logo-img {
    position: relative;
    width: 100px;
    padding: 30px;
}
/* Hero */
.hero {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.food {
    width: 450px;
}

.hero .textBox h1 {
    font-size: 4em;
    Line-height: 1em;
    font-weight: 500;
}

.hero .textBox p {
    color: #D9D9D9;
    font-size: 1em;
    letter-spacing: 1.2px;
}

.hero .textBox span {
    color: #EA7C69;
    font-weight: 900;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail li {
    list-style: none;
    display: inline-block;
    margin: 3.5em;
    cursor: pointer;
    transition: all 0.5s;
}

.thumbnail li:hover {
    transform: translateY(-20px);
}

.thumbnail li img {
    max-width: 100px;
}

/* Map */
#map {
  height: 280px;
  width: 100%;
  margin: 10px auto;
}

.suggestion{
    margin: auto;
    text-align:center;
}

#suggestion-btn {
    background-color: transparent;
    border: 2px solid;
    color: #EA7C69;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.5em;
    display: inline-block;
    margin: 20px 0;
    transition: all 0.3s;
}

#suggestion-btn:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.3em);
}

h2 {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 2px;
}

/*Map list prototype styling*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

#heading {
  display: flex;
  font-family: Roboto;
  /* color: #3e4958; */
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
}

#container div {
  display: flex;
  font-family: Roboto;
  background-color: #fff;
  font-weight: 700;
  color: #3e4958;
  margin: 1em 30em;
  padding: 3em 2em;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 1em;
  transition-duration: 1s;
}

#container div:hover {
  background-color: #dee1e6;
}

input {
  width: 300px;
  height: 30px;
}

#input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}








