#map {
    height: 700px;
    width: 80%;
    margin: 20px auto
}

#search-input {
    width: 500px;
    height: 30px;
    margin: 0 10px;
}


#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}