body {
    background: linear-gradient(120deg, #1F1D2B 50%, #393C49);
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}

/* Header */
a {
    text-decoration: none;
}

#logo-img {
    position: relative;
    width: 100px;
    margin: 20px;
}
/* Hero */
.hero {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.food {
    width: 18.75rem;
}

.hero .textBox h1 {
    font-size: 4em;
    Line-height: 1em;
    font-weight: 500;
    margin: 25px 0;
}

.hero .textBox p {
    color: #D9D9D9;
    font-size: 1em;
    letter-spacing: 1.2px;
}

.hero .textBox span {
    color: #EA7C69;
    font-weight: 900;
}

/* Thumbnail */
.thumbnail {
    justify-content: center;
    align-items: center;
}

.thumbnail li {
    list-style: none;
    display: inline-block;
    margin: 1em;
    cursor: pointer;
    transition: all 0.5s;
}

.thumbnail li:hover {
    transform: translateY(-20px);
}

.thumbnail li img {
    max-width: 6.25rem;
}

/* Map */
#map {
  height: 600px;
  width: 70%;
  margin: 30px auto;
}

.suggestion{
    margin: auto;
    text-align:center;
}

.big-btn {
    background-color: transparent;
    border: 2px solid;
    color: #EA7C69;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.5em;
    display: inline-block;
    margin: 20px 0;
    transition: all 0.3s;
}

.big-btn:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.3em);
}

h2 {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 2px;
}

/* Restaurants Container */
.restaurant {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    /* color: white !important; */
    border: 0.0625rem solid #D9D9D9;
    border-radius: 0.94rem;
    width: 70%;
    margin: 1.5rem auto;
    transition: all 0.3s;
}

.restaurant:hover {
    background-color: #393C49;
    transform: translateY(-10px);
}

#restaurants-cont img {
    width: 6rem;
    margin: 0.5rem;
}

.restaurant div div {
    color: white !important;
}

/*Map list prototype styling*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

#container div {
  display: flex;
  font-family: Roboto;
  background-color: #fff;
  font-weight: 700;
  color: #3e4958;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 1em;
  transition-duration: 1s;
}

#featured div:hover {
  background-color: #dee1e6;
}